body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.jumbotron {
  padding: 0 !important;
}

.container-fluid {
  padding: 0 !important;
}

.parallax {
  background-image: url(/src/img/background.jpg);
  min-height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-cover {
  background-color: rgba(255, 255, 255, 0.7);
  height: 100vh;
}

.section {
  height: 100vh;
}

#learn-more {
  min-height: min-content;
  overflow: scroll;
  padding: 2em 1em;
}

.display-3 {
  padding-top: 2em;
}

.title-text {
  margin: 0 auto;
  text-align: center;
  padding: 0 1rem;
}
.info-text {
  padding-top: 4em;
}

.footer {
  position: fixed;
  bottom: 0;
}
